<div class="row">
<div class="col-xs-12">
<h1>Chef List</h1>
</div>
</div>


{{#each chefs}}
<div class="row">
  <div class="col-xs-12">
  <h2>userId: {{userId}}</h2>
  <h2>displayName: {{displayName}}</h2>
  <h3>phone: {{phone}}</h3>
  <h3>email: {{email}}</h3>
  <h4>earnedRatings: {{earnedRatings}}</h4>
  <h4>totalRatings: {{totalRatings}}</h4>
  <p>Location: {{location.address}}</p>
  </div>
</div>
{{/each}}
